

<body background="http://i.ytimg.com/vi/4W_XSesRW84/maxresdefault.jpg">
<h1> All Users </h1>


<table>
  <thead>
    <tr>
      <th>First Name</th>
      <br>
      <th>Last Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

<% @users.each do |user| %>
  <tr>
    <td><%= user.fname %></td>
    <td><%= user.lname %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, method: :delete,
                                     data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
<hr>
</table>
<br>




<%= link_to 'Home', home_path %>
<br>
<%= link_to 'Logout', home_path %>


</body>