<!DOCTYPE html>
<html>
<head>
  <title>Johnstreetapps</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


<% if flash[:success] %>
    <h1 class="flash-notice">
      <%= flash[:success] %>
      <% end %>
    </h1>


<%= yield %>

</body>
</html>
